  .accounts-icon {
    background-image: url('../icons/accounts.svg');
    background-repeat: no-repeat;
  }
  .home-icon {
    background-image: url('../icons/home.svg');
    background-repeat: no-repeat;
  }
  .grid-icon {
    background-image: url('../icons/grid.svg');
    background-repeat: no-repeat;
  }
  .cards-icon {
    background-image: url('../icons/cards.svg');
    background-repeat: no-repeat;
  }
  .transfers-icon {
    background-image: url('../icons/transfers.svg');
    background-repeat: no-repeat;
  }

  .card-icon {
    background-image: url('../icons/card.svg');
    background-repeat: no-repeat;
  }

  .gold-icon {
    background-image: url('../icons/gold.svg');
    background-repeat: no-repeat;
  }

  .commodities-icon {
    background-image: url('../icons/commodities.svg');
    background-repeat: no-repeat;
  }

  .crypto-icon {
    background-image: url('../icons/crypto.svg');
    background-repeat: no-repeat;
  }

  .mutual-funds-icon {
    background-image: url('../icons/mutual-funds.svg');
    background-repeat: no-repeat;
  }