// src/app/shared/styles/variables.scss

$topHeaderBackgroundColor: #000;
$headerGradient: linear-gradient(180deg, #101F5C 0%, #1F43D6 138.7%);
$topHeaderTextColor: #fff;
$fontFamily: 'Nunito Sans', sans-serif;
$iconColor: #707793;
$primaryColor: #1473E6;
$ternaryColor: #FFBC53;
